{% extends "learning_logs/base.html" %}

{% block page_header %}
	<div class='jumbotron text-white' style="background-color: #1E407C;">
		<h1 class='display-3'>Track your learning.</h1>

		<p class='lead text-white'>Make your own Nittany Study Journal, and keep a list of the topics you're learning about. Whenever you learn something new about a topic, make an entry summarizing what you've learned.</p>

		<a class='btn btn-lg btn-primary btn-light' href="{% url 'users:register' %}" role='button'>Register &raquo;</a>
	</div>
	
{% endblock page_header %}